In [149]:
Pkg.add("SQLite")

INFO: Nothing to be done

In [150]:
Pkg.update()

INFO: Updating METADATA...
INFO: Updating cache of DataFrames...
INFO: Updating cache of DataFrames...
INFO: Computing changes...
INFO: No packages to install, update or remove

In [151]:
using SQLite

## DB 파일 생성

In [152]:
db = SQLite.DB("test.sqlite")

SQLite.DB("test.sqlite")

## 테이블 생성

In [178]:
SQLite.query(db,
    "CREATE TABLE partlist (ERP_CODE, NAME, TYPE, DESCRIPTION, MATERIAL, 
    TREATMENT, DESIGNER, CHECKER, DIVISION, SUPPLIER, UNIT_PRICE);")

0×0 DataFrames.DataFrame

## 테이블 전체 내용 확인

In [179]:
SQLite.query(db, "SELECT * FROM partlist")

0×11 DataFrames.DataFrame

## 테이블 삭제

In [220]:
SQLite.query(db, "DROP TABLE IF EXISTS partlist")

0×0 DataFrames.DataFrame

## 테이블 재생성

* UNIQUE CONSTRAINT 추가

In [221]:
SQLite.query(db,
    "CREATE TABLE partlist (ERP_CODE, NAME, TYPE, DESCRIPTION, MATERIAL, 
    TREATMENT, DESIGNER, CHECKER, DIVISION, SUPPLIER, UNIT_PRICE
    , CONSTRAINT erp_code UNIQUE (ERP_CODE));")

0×0 DataFrames.DataFrame

In [222]:
SQLite.query(db, "SELECT * FROM partlist")

0×11 DataFrames.DataFrame

## 테이블 내용 추가

In [223]:
SQLite.query(db, "INSERT INTO partlist
    VALUES
    ('H200001', 'B_GLOS_E6-10-208-50', 'ASSEMBLY', 'Hinge 0.9Nm', '-', 
    '-', 'KimDH', 'KimDH', 'HealthCare', 'Glos', 7000);")

0×0 DataFrames.DataFrame

In [224]:
SQLite.query(db, "SELECT * FROM partlist")

1×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                  │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼───────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50" │ "ASSEMBLY" │ "Hinge 0.9Nm" │

│ Row │ MATERIAL │ TREATMENT │ DESIGNER │ CHECKER │ DIVISION     │ SUPPLIER │
├─────┼──────────┼───────────┼──────────┼─────────┼──────────────┼──────────┤
│ 1   │ "-"      │ "-"       │ "KimDH"  │ "KimDH" │ "HealthCare" │ "Glos"   │

│ Row │ UNIT_PRICE │
├─────┼────────────┤
│ 1   │ 7000       │

In [225]:
SQLite.query(db, "INSERT INTO partlist
    VALUES
    ('H300001', 'M_LPL2_MID_PANEL_SUB', 'PART', 'SheetMetal', 'A5052', 
    'Powder Coating (Matte Silver)', 'KimDH', 'KimDH', 'HealthCare', '-', 20000);")

0×0 DataFrames.DataFrame

In [226]:
SQLite.query(db, "SELECT * FROM partlist")

2×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                   │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼────────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50"  │ "ASSEMBLY" │ "Hinge 0.9Nm" │
│ 2   │ "H300001" │ "M_LPL2_MID_PANEL_SUB" │ "PART"     │ "SheetMetal"  │

│ Row │ MATERIAL │ TREATMENT                       │ DESIGNER │ CHECKER │
├─────┼──────────┼─────────────────────────────────┼──────────┼─────────┤
│ 1   │ "-"      │ "-"                             │ "KimDH"  │ "KimDH" │
│ 2   │ "A5052"  │ "Powder Coating (Matte Silver)" │ "KimDH"  │ "KimDH" │

│ Row │ DIVISION     │ SUPPLIER │ UNIT_PRICE │
├─────┼──────────────┼──────────┼────────────┤
│ 1   │ "HealthCare" │ "Glos"   │ 7000       │
│ 2   │ "HealthCare" │ "-"      │ 20000      │

## 테이블 내용 서칭

In [227]:
SQLite.query(db, "SELECT 'TYPE' FROM partlist")

2×1 DataFrames.DataFrame
│ Row │ 'TYPE' │
├─────┼────────┤
│ 1   │ "TYPE" │
│ 2   │ "TYPE" │

In [228]:
SQLite.query(db, "SELECT 'M_LPL2_MID_PANEL_SUB' FROM partlist")

2×1 DataFrames.DataFrame
│ Row │ 'M_LPL2_MID_PANEL_SUB' │
├─────┼────────────────────────┤
│ 1   │ "M_LPL2_MID_PANEL_SUB" │
│ 2   │ "M_LPL2_MID_PANEL_SUB" │

In [229]:
SQLite.query(db, "SELECT * FROM partlist WHERE NAME='M_LPL2_MID_PANEL_SUB'")

1×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                   │ TYPE   │ DESCRIPTION  │ MATERIAL │
├─────┼───────────┼────────────────────────┼────────┼──────────────┼──────────┤
│ 1   │ "H300001" │ "M_LPL2_MID_PANEL_SUB" │ "PART" │ "SheetMetal" │ "A5052"  │

│ Row │ TREATMENT                       │ DESIGNER │ CHECKER │ DIVISION     │
├─────┼─────────────────────────────────┼──────────┼─────────┼──────────────┤
│ 1   │ "Powder Coating (Matte Silver)" │ "KimDH"  │ "KimDH" │ "HealthCare" │

│ Row │ SUPPLIER │ UNIT_PRICE │
├─────┼──────────┼────────────┤
│ 1   │ "-"      │ 20000      │

## 전체 행 수 카운트

In [230]:
SQLite.query(db, "SELECT COUNT(*) FROM partlist")

1×1 DataFrames.DataFrame
│ Row │ COUNT(*) │
├─────┼──────────┤
│ 1   │ 2        │

## 내용 변경 업데이트

In [231]:
SQLite.query(db, "UPDATE partlist SET ERP_CODE = 'H300099' WHERE ERP_CODE = 'H300002'")
SQLite.query(db, "SELECT * FROM partlist")

2×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                   │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼────────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50"  │ "ASSEMBLY" │ "Hinge 0.9Nm" │
│ 2   │ "H300001" │ "M_LPL2_MID_PANEL_SUB" │ "PART"     │ "SheetMetal"  │

│ Row │ MATERIAL │ TREATMENT                       │ DESIGNER │ CHECKER │
├─────┼──────────┼─────────────────────────────────┼──────────┼─────────┤
│ 1   │ "-"      │ "-"                             │ "KimDH"  │ "KimDH" │
│ 2   │ "A5052"  │ "Powder Coating (Matte Silver)" │ "KimDH"  │ "KimDH" │

│ Row │ DIVISION     │ SUPPLIER │ UNIT_PRICE │
├─────┼──────────────┼──────────┼────────────┤
│ 1   │ "HealthCare" │ "Glos"   │ 7000       │
│ 2   │ "HealthCare" │ "-"      │ 20000      │

In [232]:
SQLite.query(db, "UPDATE partlist SET MATERIAL = 'A6061' WHERE ERP_CODE = 'H300099'")
SQLite.query(db, "SELECT * FROM partlist")

2×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                   │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼────────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50"  │ "ASSEMBLY" │ "Hinge 0.9Nm" │
│ 2   │ "H300001" │ "M_LPL2_MID_PANEL_SUB" │ "PART"     │ "SheetMetal"  │

│ Row │ MATERIAL │ TREATMENT                       │ DESIGNER │ CHECKER │
├─────┼──────────┼─────────────────────────────────┼──────────┼─────────┤
│ 1   │ "-"      │ "-"                             │ "KimDH"  │ "KimDH" │
│ 2   │ "A5052"  │ "Powder Coating (Matte Silver)" │ "KimDH"  │ "KimDH" │

│ Row │ DIVISION     │ SUPPLIER │ UNIT_PRICE │
├─────┼──────────────┼──────────┼────────────┤
│ 1   │ "HealthCare" │ "Glos"   │ 7000       │
│ 2   │ "HealthCare" │ "-"      │ 20000      │

## 테이블 확인

In [233]:
SQLite.tables(db)

1×1 DataFrames.DataFrame
│ Row │ name       │
├─────┼────────────┤
│ 1   │ "partlist" │

## 정렬

In [234]:
SQLite.query(db, "SELECT * FROM partlist ORDER BY ERP_CODE;")

2×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                   │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼────────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50"  │ "ASSEMBLY" │ "Hinge 0.9Nm" │
│ 2   │ "H300001" │ "M_LPL2_MID_PANEL_SUB" │ "PART"     │ "SheetMetal"  │

│ Row │ MATERIAL │ TREATMENT                       │ DESIGNER │ CHECKER │
├─────┼──────────┼─────────────────────────────────┼──────────┼─────────┤
│ 1   │ "-"      │ "-"                             │ "KimDH"  │ "KimDH" │
│ 2   │ "A5052"  │ "Powder Coating (Matte Silver)" │ "KimDH"  │ "KimDH" │

│ Row │ DIVISION     │ SUPPLIER │ UNIT_PRICE │
├─────┼──────────────┼──────────┼────────────┤
│ 1   │ "HealthCare" │ "Glos"   │ 7000       │
│ 2   │ "HealthCare" │ "-"      │ 20000      │

## 역순정렬

In [235]:
SQLite.query(db, "SELECT * FROM partlist ORDER BY ERP_CODE DESC;")

2×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                   │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼────────────────────────┼────────────┼───────────────┤
│ 1   │ "H300001" │ "M_LPL2_MID_PANEL_SUB" │ "PART"     │ "SheetMetal"  │
│ 2   │ "H200001" │ "B_GLOS_E6-10-208-50"  │ "ASSEMBLY" │ "Hinge 0.9Nm" │

│ Row │ MATERIAL │ TREATMENT                       │ DESIGNER │ CHECKER │
├─────┼──────────┼─────────────────────────────────┼──────────┼─────────┤
│ 1   │ "A5052"  │ "Powder Coating (Matte Silver)" │ "KimDH"  │ "KimDH" │
│ 2   │ "-"      │ "-"                             │ "KimDH"  │ "KimDH" │

│ Row │ DIVISION     │ SUPPLIER │ UNIT_PRICE │
├─────┼──────────────┼──────────┼────────────┤
│ 1   │ "HealthCare" │ "-"      │ 20000      │
│ 2   │ "HealthCare" │ "Glos"   │ 7000       │

## Max,Min 값 찾기

In [236]:
SQLite.query(db, "SELECT MAX(ERP_CODE) FROM partlist")

1×1 DataFrames.DataFrame
│ Row │ MAX(ERP_CODE) │
├─────┼───────────────┤
│ 1   │ "H300001"     │

In [237]:
SQLite.query(db, "SELECT MIN(ERP_CODE) FROM partlist")

1×1 DataFrames.DataFrame
│ Row │ MIN(ERP_CODE) │
├─────┼───────────────┤
│ 1   │ "H200001"     │

## 중복 레코드가 없으면 Insert, 있으면 Update

* 전제조건 : 기본 키(Primary key) 또는 Unique 제약조건을 가지는 컬럼이 존재해야 함.
* Ref : http://lovedb.tistory.com/358
* 현재의 테이블에서는, `ERP_CODE`가 UNIQUE CONSTARINT를 가지고 있으므로 이를 기준으로 중복 여부를 판단하게 됨.

In [238]:
SQLite.query(db, "INSERT OR REPLACE INTO partlist (ERP_CODE, MATERIAL) VALUES ('H300001', 'Steel');")
SQLite.query(db, "SELECT * FROM partlist")

2×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                  │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼───────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50" │ "ASSEMBLY" │ "Hinge 0.9Nm" │
│ 2   │ "H300001" │ #NULL                 │ #NULL      │ #NULL         │

│ Row │ MATERIAL │ TREATMENT │ DESIGNER │ CHECKER │ DIVISION     │ SUPPLIER │
├─────┼──────────┼───────────┼──────────┼─────────┼──────────────┼──────────┤
│ 1   │ "-"      │ "-"       │ "KimDH"  │ "KimDH" │ "HealthCare" │ "Glos"   │
│ 2   │ "Steel"  │ #NULL     │ #NULL    │ #NULL   │ #NULL        │ #NULL    │

│ Row │ UNIT_PRICE │
├─────┼────────────┤
│ 1   │ 7000       │
│ 2   │ #NULL      │

In [239]:
SQLite.query(db, "INSERT OR REPLACE INTO partlist
    (ERP_CODE, NAME, TYPE, DESCRIPTION, MATERIAL, 
    TREATMENT, DESIGNER, CHECKER, DIVISION, SUPPLIER, UNIT_PRICE)
    VALUES 
    ('H300002', 'M_LPL2_TOP', 'PART', 'Tooling', 'A6061', 
    'Anodizing', 'KimDH', 'KimDH', 'HealthCare', '-', 55000);")
SQLite.query(db, "SELECT * FROM partlist")

3×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                  │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼───────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50" │ "ASSEMBLY" │ "Hinge 0.9Nm" │
│ 2   │ "H300001" │ #NULL                 │ #NULL      │ #NULL         │
│ 3   │ "H300002" │ "M_LPL2_TOP"          │ "PART"     │ "Tooling"     │

│ Row │ MATERIAL │ TREATMENT   │ DESIGNER │ CHECKER │ DIVISION     │ SUPPLIER │
├─────┼──────────┼─────────────┼──────────┼─────────┼──────────────┼──────────┤
│ 1   │ "-"      │ "-"         │ "KimDH"  │ "KimDH" │ "HealthCare" │ "Glos"   │
│ 2   │ "Steel"  │ #NULL       │ #NULL    │ #NULL   │ #NULL        │ #NULL    │
│ 3   │ "A6061"  │ "Anodizing" │ "KimDH"  │ "KimDH" │ "HealthCare" │ "-"      │

│ Row │ UNIT_PRICE │
├─────┼────────────┤
│ 1   │ 7000       │
│ 2   │ #NULL      │
│ 3   │ 55000      │

In [240]:
SQLite.query(db, "INSERT OR REPLACE INTO partlist
    (ERP_CODE, NAME, TYPE, DESCRIPTION, MATERIAL, 
    TREATMENT, DESIGNER, CHECKER, DIVISION, SUPPLIER, UNIT_PRICE)
    VALUES 
    ('H300002', 'M_LPL2_TOP', 'PART', 'Tooling', 'A6061', 
    'Anodizing', '김동호', 'KimDH', 'HealthCare', '-', 55000);")
SQLite.query(db, "SELECT * FROM partlist")

3×11 DataFrames.DataFrame
│ Row │ ERP_CODE  │ NAME                  │ TYPE       │ DESCRIPTION   │
├─────┼───────────┼───────────────────────┼────────────┼───────────────┤
│ 1   │ "H200001" │ "B_GLOS_E6-10-208-50" │ "ASSEMBLY" │ "Hinge 0.9Nm" │
│ 2   │ "H300001" │ #NULL                 │ #NULL      │ #NULL         │
│ 3   │ "H300002" │ "M_LPL2_TOP"          │ "PART"     │ "Tooling"     │

│ Row │ MATERIAL │ TREATMENT   │ DESIGNER    │ CHECKER │ DIVISION     │
├─────┼──────────┼─────────────┼─────────────┼─────────┼──────────────┤
│ 1   │ "-"      │ "-"         │ "KimDH"     │ "KimDH" │ "HealthCare" │
│ 2   │ "Steel"  │ #NULL       │ #NULL       │ #NULL   │ #NULL        │
│ 3   │ "A6061"  │ "Anodizing" │ "김동호" │ "KimDH" │ "HealthCare" │

│ Row │ SUPPLIER │ UNIT_PRICE │
├─────┼──────────┼────────────┤
│ 1   │ "Glos"   │ 7000       │
│ 2   │ #NULL    │ #NULL      │
│ 3   │ "-"      │ 55000      │

## ERP_CODE 추출

In [290]:
a = SQLite.query(db, "SELECT MAX(ERP_CODE) FROM partlist")
b = string(a[1,1])[19:25]

# b[3]이 숫자일 경우와, 알파벳일 경우를 분리하여 취급
# if b[3] == 0,10

# b[3]이 숫자일 경우에는...
c = parse(Int,b[3:7])
println(c)

# b[3]이 알파벳일 경우에는...
d = parse(Int,b[4:7])
println(d)

2
2

In [293]:
print("%5d",c)

%5d2